mat-list-item {

  &:hover {
    background-color: #efefef;
  }

  .mat-list-item-content {
    width: 100%;
  }

  .actions {
    justify-self: end;

    mat-icon {
      cursor: pointer;
    }
  }
}
