:host {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;

    mat-card {
      mat-card-header {
        h4 {
          margin: 0;
        }
      }
    }

    @media screen and (max-width: 599px) {
      grid-template-columns: 1fr;
    }
    @media screen and (min-width: 600px) and (max-width: 959px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
