<app-layout>
  <div class="wrapper">
    <mat-card class="box">
      <mat-card-header>
        <mat-icon mat-card-avatar>person</mat-icon>
        <mat-card-title><h4>Super Heroes</h4></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="http://localhost:3000/img/spider-man.jpg" alt="Spider Man">
      <mat-card-actions>
        <button mat-button routerLink="/heroes">View All Heroes</button>
      </mat-card-actions>
    </mat-card>
    <mat-card>
      <mat-card-header>
        <mat-icon mat-card-avatar="">thumb_up</mat-icon>
        <mat-card-title><h4>Super Powers</h4></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="http://localhost:3000/img/powers.jpg" alt="Power">
      <mat-card-actions>
        <button mat-button routerLink="/powers">View All Powers</button>
      </mat-card-actions>
    </mat-card>
  </div>
</app-layout>
