<mat-card>
  <mat-card-header>
    <mat-card-title><h2>Super Powers</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-list *ngIf="!loading; else spinner">
      <mat-list-item *ngFor="let power of powers"  fxLayout="row">
        <div fxFlex class="power">
          <a [routerLink]="['/powers', power.id]">{{ power.name }}</a>
        </div>
        <div class="actions">
          <button mat-icon-button [matMenuTriggerFor]="actionsMenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #actionsMenu="matMenu">
            <button mat-menu-item [routerLink]="['/powers', power.id, 'edit']">Edit</button>
            <button mat-menu-item (click)="delete.emit(power)" class="delete">Delete</button>
          </mat-menu>
        </div>
      </mat-list-item>
    </mat-list>
    <ng-template #spinner>
      <div fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
